<div class="container">
    <button class="btn btn-primary" (click)="sittersActions.setType(false)">Register as sitter</button>
    <button class="btn btn primary" (click)="sittersActions.setType(true)">Register as baby</button>
    <br />
    <br />

    <div *ngIf="!isBaby && isBaby !== undefined" class="alert alert-info">You are registering as a sitter</div>
    <div *ngIf="isBaby" class="alert alert-info">You are registering as a baby</div>

    <br />

    <div class="registerSitterForm" *ngIf="!isBaby">
        <form novalidate [formGroup]="registerSitterForm" (ngSubmit)="onSubmitSitter(registerSitterForm)">
            <div class="form-group">
                <label for="username">Username:</label>
                <input required class="form-control" type="text" id="username" name="username" formControlName="username">
                <div class="alert alert-danger" *ngIf="usernameSitter.touched && usernameSitter.invalid">
                    <div *ngIf="usernameSitter.errors.required">Username is required.</div>
                    <div *ngIf="usernameSitter.errors.minlength">Username must be at least 5 characters long.</div>
                </div>
            </div>


            <div class="form-group">
                <label for="password">Password:</label>
                <input required class="form-control" type="text" id="password" name="password" formControlName="password">

                <div class="alert alert-danger" *ngIf="passwordSitter.touched && passwordSitter.invalid">
                    <div *ngIf="passwordSitter.errors.required">Password is required.</div>
                    <div *ngIf="passwordSitter.errors.minlength">Password must be at least 5 characters long.</div>
                </div>
            </div>

            <div class="form-group">
                <label for="name">Name:</label>
                <input class="form-control" type="text" id="name" name="name" formControlName="name">
            </div>

            <div class="form-group">
                <label for="select-gender">Gender:</label>
                <select required class="form-control" id="select-gender" formControlName="gender">
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
            </div>

            <div class="form-group">
                <label for="birthDate">Birthdate:</label>
                <input required class="form-control" type="date" id="birthDate" name="birthDate" formControlName="birthDate">
            </div>

            <div class="form-group">
                <label for="address">Address:</label>
                <input required class="form-control" id="address" name="address" formControlName="address">
            </div>

            <div class="form-group">
                <label for="zipCode">Zip code:</label>
                <input required class="form-control" id="zipCode" name="zipCode" formControlName="zipCode">
            </div>

            <div class="form-group">
                <label for="city">City:</label>
                <input required class="form-control" id="city" name="city" formControlName="city">
                <br />
                <label for="no-criminal-record">No criminal record</label>
                <input required class="form-control checkbox" id="no-criminal-record" class="checkbox" formControlName="noCriminalRecord"
                    name="no-criminal-record" type="checkbox">


                <label for="no-child-record">No child record</label>
                <input required class="checkbox" id="no-child-record" name="no-child-record" formControlName="noChildRecord"
                    type="checkbox">

                <div class="form-group">
                    <label for="hourly-wage">Hourly wage</label>
                    <input required class="form-control" id="hourly-wage" name="hourly-wage" formControlName="hourlyWage">
                </div>
            </div>
            <button class="btn btn-success" id="registerSitter" [disabled]="!registerSitterForm.valid">Register</button>
        </form>
    </div>

    <div class="registerBabyForm" *ngIf="isBaby">
        <form novalidate [formGroup]="registerBabyForm" (ngSubmit)="onSubmitBaby(registerBabyForm)">

            <div class="form-group">
                <label for="username">Username:</label>
                <input required class="form-control" type="text" id="username" name="username" formControlName="username">
                <div class="alert alert-danger" *ngIf="usernameBaby.touched && usernameBaby.invalid">
                        <div *ngIf="usernameBaby.errors.required">Username is required.</div>
                        <div *ngIf="usernameBaby.errors.minlength">Username must be at least 5 characters long.</div>
                </div>
            </div>

            <div class="form-group">
                <label for="password">Password:</label>
                <input required class="form-control" type="text" id="password" name="password" formControlName="password">
                <div class="alert alert-danger" *ngIf="passwordBaby.touched && passwordBaby.invalid">
                        <div *ngIf="passwordBaby.errors.required">Password is required.</div>
                        <div *ngIf="passwordBaby.errors.minlength">Password must be at least 5 characters long.</div>
                </div>
            </div>

            <div class="form-group">
                <label for="name">Name:</label>
                <input required class="form-control" type="text" id="name" name="name" formControlName="name">
            </div>

            <div class="form-group">
                <label for="select-gender">Gender:</label>
                <select required class="form-control" id="select-gender" formControlName="gender">
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
            </div>

            <div class="form-group">
                <label for="birthDate">Birthdate:</label>
                <input required class="form-control" type="date" id="birthDate" name="birthDate" formControlName="birthDate">
            </div>

            <div class="form-group">
                <label for="address">Address:</label>
                <input required class="form-control" id="address" name="address" formControlName="address">
            </div>

            <div class="form-group">
                <label for="zipCode">Zip code:</label>
                <input required class="form-control" id="zipCode" name="zipCode" formControlName="zipCode">
            </div>

            <div class="form-group">
                <label for="city">City:</label>
                <input required class="form-control" id="city" name="city" formControlName="city">
            </div>

            <div class="form-group">
                <strong>Special needs</strong>
                <p>Enter a short description of your baby's needs.</p>
                <br />
                <textarea class="form-control" formControlName="specialNeeds"></textarea>
            </div>

            <button class="btn btn-success" id="registerBaby" [disabled]="!registerBabyForm.valid">Register</button>
        </form>
    </div>
</div>